*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.first_intro-text{
    flex: 0 0 auto;
    width: 83.33%;
    margin-top: 0;
    
}

.first_intro-text .first_intro-textcenter{
    text-align: center;
    margin-right: 190px;
    margin-left: 190px;
}

.first_intro-text .first_intro-textcenter h3{
    font-weight: 500;
    color: #343a40;
    line-height: 34px;
    font-size: 28px;
    margin: 0px 0px 16px;
}


.first_intro-text .first_intro-textcenter p{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
    color: #a7a9c0;
    margin-top: 0;
    margin-bottom: 1rem;
}


.row-2{
    display: flex;
    flex-wrap: wrap;
    margin-right: 150px;
    margin-left: 150px;

}


.row-2 .first_feature-section{
    flex: 0 0 auto;
    width: 33.333333%;
    margin-bottom: 120px;
}

.row-2 .first_feature-section .first_feature-si{
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.row-2 .first_feature-section .first_feature-si .icon{
    color: #A178D4;
    font-size: 40px;
}

.row-2 .first_feature-section .first_feature-si h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #343a40;
}

.row-2 .first_feature-section .first_feature-si p{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: #a7a9c0;
    margin-top: 0;
    margin-bottom: 1rem;
}

.row-3 .second_intro .second_intro-feature{
    text-align: center;
}

.row-3 .second_intro .second_intro-feature .textcenter-title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #a7a9c0;
}

.row-3 .second_intro .second_intro-feature .textcenter-key{
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #343a40;
}

.row-3 .second_intro .second_intro-feature .arrow-line{
    text-align: center;
    position: relative;
}

.row-3 .second_intro .second_intro-feature .arrow-line .line{
    border: 1px solid #a7a9c0;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-3 .second_intro .second_intro-feature .arrow-line .fa-circle-arrow-down{
    margin-top: 15px;
    color: #A178D4;
}

.row-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
}

.row-4 .section_left{ 
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 20px;
    max-width: 41.66666667%;
    height: 450px;
}

.row-4 .section_left .section_left-description{
    max-width: 400px;
    align-items: center;
    margin: 0 auto;
}

.row-4 .section_left .section_left-description .target{
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #343a40;
    margin-bottom: 20px;
}

.row-4 .section_left .section_left-description .description{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: #a7a9c0;
    margin-top: 0;
    margin-bottom: 20px;
}

.row-4 .section_left .section_left-description ul{
    list-style-type: none;
}

.row-4 .section_left .section_left-description li{
    display: flex;
    font-weight: 300;
    font-size: 14px;
    color: #a7a9c0;
    margin-top: 0;
    margin-bottom: 20px;
}

.row-4 .section_left .section_left-description p{
    margin-top: 2px;
}

.row-4 .section_left .section_left-description i{
    font-size: 20px;
    margin-right: 20px;
    color: #75CCCD;
}

.row-4 .section_left .section_left-description .learn-more{
    font-weight: 300;
    font-size: 14px;
    color: #A178D4;
    margin-top: 10px;
}

.row-4 .section_right{
    flex: 0 0 auto;
    margin-left: auto;
    width: auto;
    margin-right: 40px;
}

.row-4 .section_right img{
    height: 450px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.row-4 .endline{
    border: 1px solid #a7a9c0;
    width: 90%;
    margin: 0 auto;
}

.row-5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
}

.row-5 .section_right{ 
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
    margin-top: 100px;
    width: 41.66666667%;
    height: 400px;
}

.row-5 .section_right .section_right-description{
    

    align-items: center;
    margin: 0 auto;
}

.row-5 .section_right .section_right-description .target{
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #343a40;
    margin-bottom: 20px;
}

.row-5 .section_right .section_right-description .description{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: #a7a9c0;
    margin-top: 0;
    margin-bottom: 20px;
}

.row-5 .section_right .section_right-description ul{
    list-style-type: none;
}

.row-5 .section_right .section_right-description li{
    display: flex;
    font-weight: 300;
    font-size: 14px;
    color: #a7a9c0;
    margin-top: 0;
    margin-bottom: 20px;
}

.row-5 .section_right .section_right-description i{
    font-size: 20px;
    margin-right: 20px;
    color: #75CCCD;
}

.row-5 .section_right .section_right-description .learn-more{
    font-weight: 300;
    font-size: 14px;
    color: #A178D4;
    margin-top: 10px;
}

.row-5 .section_left{
    flex: 0 0 auto;
    margin-left: auto;
    width: auto;
}

.row-5 .section_left img{
    margin-top: 80px;
    margin-right: 50px;
    height: 370px;
    overflow-clip-margin: content-box;
    overflow: clip;
    transform: perspective(550px) rotateX(2deg) rotateY(10deg);
    border-radius: 1px solid #a7a9c0;
}

.row-5 .learn-more{
    color: #A178D4;
}